<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="row g-5">
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img  height="400px" src="https://imgs.search.brave.com/-Kfy8wO01E_4dxlUOn7SJIDSIlgDe0GqApTpqhHXfJk/rs:fit:296:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5X/Z05DajNhWjNDLWJO/ZndQRmU2OE1nSGFM/MiZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Death Sentence</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img  height="400px" src="https://imgs.search.brave.com/ZhWJV11f_lCbLlnPZ1XE8cDVVyenf3usRH6IrGCV-0c/rs:fit:316:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC53/a3lsby00dmFVVlhf/aWxnSkJuUEJnSGFM/RyZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">The Wedding Date</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img height="400px" src="https://imgs.search.brave.com/Hqwxfy-tRKai1v03njWGp2MecCUZaXKnm2rVC9T4aiI/rs:fit:316:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5l/cy1yMHc5YTFSU3cy/UEFzOWhBTDR3SGFM/SCZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">The Affair</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img height="400px" src="https://imgs.search.brave.com/iEOEpsFTSjrzefBHEIGi925APJDBjyoWsRH2DqnKgA0/rs:fit:304:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5D/cEpTS0JVNzJYN25V/NFpEaXVldkNRSGFM/aiZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">The Body In The Fog</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img height="400px" src="https://imgs.search.brave.com/gHDKXSVPVpkb9fa4kDu7-ZLhG1u3qru0jPzkLQ6L5io/rs:fit:306:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC44/VERfZF9kUkFRWjlu/TVdCampCOHB3SGFM/ZSZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">The Hobbit</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img height="400px" src="https://imgs.search.brave.com/v2m-yRwMD9aVkTHnagXXN_XJIfe5fDCVqohlFg1tJfc/rs:fit:314:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5J/alhTUWdwZWVrNjVR/VHZSRVg4NTJRSGFM/TCZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">DUNE</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img height="400px" src="https://imgs.search.brave.com/k9vRtPtOjYXvapL4oIA_okK7b4xqLswNC1Lf8uOCvrE/rs:fit:360:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC44/UV9UQm1udmQyazN1/bG45b3Zya2tBSGFK/diZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">The Golden Age</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img height="400px" src="https://imgs.search.brave.com/g1bu-YpqgIQDf72lY_ycjKTxYs5OYWMGMeKKCCYIgig/rs:fit:298:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5w/M0hCUmVkQ0RVTVhD/WFlVWFFEeEVnSGFM/eCZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">One Silent Night</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img height="400px" src="https://imgs.search.brave.com/jx2hijbDno-TzbLtTCyvvjULjKMBNMRDxwdrKpSWk74/rs:fit:480:786:1/g:ce/aHR0cHM6Ly9oaXBz/LmhlYXJzdGFwcHMu/Y29tL3ZhZGVyLXBy/b2QuczMuYW1hem9u/YXdzLmNvbS8xNTk4/ODg2ODk4LTgxdjV1/cG9yeWpsLTE1OTg4/ODY4NzguanBnP2Ny/b3A9MXh3OjF4aDtj/ZW50ZXIsdG9wJnJl/c2l6ZT00ODA6Kg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">A Kingdom of Dreams</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img height="400px" src="https://imgs.search.brave.com/G-SrCtzVe6N2Seb9r9mG69Hxv6IpQNS3paYkCyy-efk/rs:fit:314:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4w/dzh3VGZZOXRvU3pL/RFlodjRneXV3SGFM/TCZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">The Prophets</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img height="400px" src="https://imgs.search.brave.com/zaMUS-6UHrj8BAyEoTien9g62TtYKiFmGeVgNuKqgyM/rs:fit:315:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5V/amdLSVB6b0VYYTF4/Qy0tQVdMREZRSGFM/SiZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dragonfly</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card">
                            <img height="400px" src="https://imgs.search.brave.com/8ONHBhLCZwYSIPlgyylyV2hFjraHtLcUKqHtCc0uN2Y/rs:fit:308:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5R/enlFcHpoRktVY2FD/bHROMl9LQ09RSGFM/WSZwaWQ9QXBp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Hellboy</h5>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>



    
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
